@import url("https://fonts.googleapis.com/css2?family=Pushster&family=Shizuru&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --transition: display 0.3s linear;
}

.curtain {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transform: translateY(0);
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    ),
    url("/img/resized.jpg") center/cover no-repeat fixed;
  transition: transform 1s linear;
  display: grid;
  place-items: center;
}

.curtain-contents {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.curtain-contents p {
  max-width: 90vw;
  font-size: 4rem;
  font-family: "Pushster", cursive;
  color: whitesmoke;
  margin-bottom: 2.5rem;
  line-height: 1.5;
}

.text-1 {
  animation: slide 2s 1;
}

.text-2 {
  animation: slide 2s 1;
}

.curtain-contents .continue-text {
  font-family: "Shizuru", cursive;
  animation: blink 2s infinite;
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* loader Css */
.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
}
.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  animation: loader 1.2s linear infinite;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: black;
  }
  50% {
    transform: scaleY(1);
    background: black;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}

#navbar {
  display: none;
  transition: var(--transition);
}

.img-logo {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 10px;
}

.nav-link:hover {
  cursor: pointer;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7)
  );
  z-index: 99;
  display: none;
  transition: display 0.3s linear;
}

.backdrop.show {
  display: block;
}

.sidebar {
  position: absolute;
  top: 53px;
  left: 0;
  width: 300px;
  height: calc(100vh - 53px);
  transform: translateX(-100%);
  background-color: black;
  transition: transform 0.3s linear;
  z-index: 100;
}

.sidebar.show {
  transform: translateX(0px);
}

.section-center {
  padding: 2rem;
  width: 100%;
  height: calc(100vh - 56px);
}

#home-section {
  display: none;
  transition: var(--transition);
}

#home-section .home-inner {
  padding-top: 150px;
}

#clip-path {
  display: none;
  transition: var(--transition);
}

.clip-path1 {
  position: absolute;
  bottom: 0;
  left: -50px;
  width: 30%;
  height: 30%;
  z-index: 2;
  background: red;
  -webkit-clip-path: circle(49.7% at 50% 100%);
  clip-path: circle(49.7% at 50% 100%);
}

.clip-path2 {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 14%;
  height: 28%;
  z-index: 2;
  background: orange;
  -webkit-clip-path: circle(43.4% at 50% 52%);
  clip-path: circle(43.4% at 50% 52%);
}

.clip-path3 {
  position: absolute;
  top: 35%;
  left: 25%;
  width: 9%;
  height: 18%;
  z-index: -1;
  background: yellow;
  -webkit-clip-path: circle(43.4% at 50% 52%);
  clip-path: circle(43.4% at 50% 52%);
}
.clip-path4 {
  position: absolute;
  top: 26%;
  left: 32%;
  width: 5%;
  height: 10%;
  z-index: -1;
  background: green;
  -webkit-clip-path: circle(43.4% at 50% 52%);
  clip-path: circle(43.4% at 50% 52%);
}
.clip-path5 {
  position: absolute;
  top: 22%;
  left: 36%;
  width: 2%;
  height: 4%;
  z-index: 2;
  background: blue;
  -webkit-clip-path: circle(43.4% at 50% 52%);
  clip-path: circle(43.4% at 50% 52%);
}

.success {
  border: 2px solid green !important;
}

.danger {
  border: 2px solid red !important;
}

#exam-section {
  display: none;
}

.bg-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 200px;
  z-index: -100;
}

#exam-section .section-inner {
  padding: 80px;
}

.answer {
  padding: 5px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 0;
  font-size: 18px;
}

.answer:focus {
  outline: 0;
}

.last-text {
  max-width: 90vw;
  font-size: 4rem;
  font-family: "Pushster", cursive;
  color: whitesmoke;
  margin-bottom: 2.5rem;
  line-height: 1.5;
  animation: show 2s 1;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
